body{
    margin:0;
}
.scene{
    height:100vh;
    overflow: hidden;
    background-attachment:fixed;
    background-size: 70%;
}
.scene{
    background-image:url(img/main%20background.jpg);
}
.scene header{
    color:white;
    max-width: 80%;
    position: relative;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:1.5rem;
    text-align:center;
}
.scene header h1{
    font-size:2rem;
    margin-bottom:1rem;
    border-bottom:5px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: navajowhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#columns{
    column-count:3;
    column-gap:10px;
}

#columns figure{
    display:inline-block;
    margin:0;
    margin-bottom:5px;
    padding:10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
#columns figure img{
    width:90%;
}
#columns figure figcaption{
    border:1px solid gray;
    padding:10px;
    margin-top:10px;
}


body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: skyblue;
    color: navajowhite;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contactbox {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}